# vscode
.env
.vscode
.idea/
.ideavimrc
bin/
lib/
lib64
pyvenv.cfg
requirements.txt
share/

# python
keywords.txt
__pycache__
dist
venv/
env-yt-searcher/
# testing

test.py
test2.py
*.json
*.log
*.html
asyncExample.py
syncExample.py
output-info.md
