# vscode
__pycache__
.env
.vscode
.ideavimrc
.idea/
share/
include/
bin/
lib/
lib64
pyvenv.cfg

# python
dist
venv/
logs/
examples/
env-yt-searcher/
requirements.txt
keywords.txt


# testing
*.json
*.log
*.html
output-info.md
